.filters {
    border: 1px solid green;
    transition: all 2s linear;
    filter: 
    blur(0px);
}
.filters:hover {
    filter: blur(3px);
}
div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
    background-color: aquamarine;
    height: 400px;
    width: 400px;
}
.rotate {
    position: relative;
    height: 50%;
    width: 50%;
    transform: 
        scale(-1, 1);
    transition: all 3s linear;
   
   
}
.rotate:hover {
    transform: 
    translate(50%, 50%)
    rotate(90deg);
    scale: 0.5;
}